@page
@model Diplomski.Pages.Admin.Meal.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins&display=swap" rel="stylesheet">

<style>

    h1{
        font-family: 'Montserrat', sans-serif;
    }

    body {
        background-color: #E4EFE7;
    }

    .moj-cont{
        padding-left: 200px;
    }

    .veliki-cont{
        border: 3px solid #206A5D;
        width: 1000px;
        margin-left: 245px;
        border-radius: 20px;
        padding-bottom: 30px;
    }

</style>

<a asp-page="./Index"><img src="~/images/back1.png" class="img-fluid m-3" style="width:40px;" /></a>


<div class="veliki-cont">

    <h1 class="text-center m-5 text-decoration-underline">Informacije</h1>
        
    <div class="container moj-cont">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Food.FoodName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Food.FoodName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Food.FoodType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Food.FoodType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Food.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Food.Quantity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Food.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Food.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Food.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Food.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Food.Restaurant)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Food.Restaurant)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Food.RestorauntLocation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Food.RestorauntLocation)
            </dd>
            <div class="mt-3">
                <a asp-page="./Edit" asp-route-id="@Model.Food?.Id"><img src="~/images/edit.png" class="img-fluid" style="width:40px;" /></a>
            </div>
        </dl>
    </div>
</div>

